@import "variables";

.custom-scroll {
  overflow-x: scroll !important;
  display: flex;
  flex-direction: row;
  flex-wrap: unset !important;
  width: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  &:last-child {
    margin-inline-end: 10px !important;
  }
}

.new_arrivals {
  background-color: $primary-white;
  .product-card:last-child {
    margin-right: 0 !important;
  }
}
