<div class="container-fluid">
    <app-swiper [items]="banners" [id]="'bannerSlider'" [breakpoints]="bannerSwiperBreakpoints">
        <ng-template let-item #swiperTemplateRef>
            <div class="swiper-slide product-wrapper d-flex flex-column p-4 col-md-4">
                <app-banner [bannerItem]="item"></app-banner>
            </div>
        </ng-template>
    </app-swiper>
</div>

<div class="new_arrivals container-fluid mt-4 p-8 ">
    <h3 class="page-heading xl">New Arrivals</h3>
    <div class="d-flex flex-wrap custom-scroll mt-4">
        <div class="product-card me-5 border border-2 rounded-3" *ngFor="let item of products">
            <app-product-card [product]="item"></app-product-card>
        </div>
    </div>
</div>

<div class="container bg-light-gray mt-6">
    <h3>Offers</h3>
    <div class="mb-8">
        <app-swiper [items]="discountedProducts" [id]="'offerproductsCardSlider'" *ngIf="products.length"
            [breakpoints]="productCardSwiperBigBreakpoints">
            <ng-template let-item #swiperTemplateRef>
                <div class="swiper-slide product-wrapper d-flex flex-column p-4 col-md-4">
                    <app-product-card [product]="item" [isBig]=true></app-product-card>
                </div>
            </ng-template>
        </app-swiper>
    </div>
</div>
<div class="container">
    <!-- New Products -->



    <app-swiper [items]="products" [id]="'productsCardSlider'" [breakpoints]="productCardSwiperBreakpoints">
        <ng-template let-item #swiperTemplateRef>
            <div class="swiper-slide product-wrapper d-flex flex-column p-4 col-md-4">
                <app-product-card [product]="item"></app-product-card>
            </div>
        </ng-template>
    </app-swiper>
</div>