// Clear floats Mixins
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin secondaryTitle() {
  &.base {
    font-size: $base-font;
    line-height: 1.38;
  }
}

/*
  Media Query Mixins
*/

// Small devices (Mobile Devices)
@mixin sm($minmax) {
  @if $minmax == $min {
    @media (min-width: #{$screen-sm-min}) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen-sm-min -1px}) {
      @content;
    }
  }
}

// Medium devices (Tablets Potrait View)
@mixin md($minmax) {
  @if $minmax == $min {
    @media (min-width: #{$screen-md-min}) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen-md-min - 1px}) {
      @content;
    }
  }
}

// Large devices (Tablet Landscape and Medium monitors)
@mixin lg($minmax) {
  @if $minmax == $min {
    @media (min-width: #{$screen-lg-min}) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen-lg-min - 1px}) {
      @content;
    }
  }
}

// Extra large devices (Desktops)
@mixin xl($minmax) {
  @if $minmax == $min {
    @media (min-width: #{$screen-xl-min}) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen-xl-min - 1px}) {
      @content;
    }
  }
}

// HD Screen devices (Desktops)
@mixin xxl($minmax) {
  @if $minmax == $min {
    @media (min-width: #{$screen-xxl-min}) {
      @content;
    }
  } @else {
    @media (max-width: #{$screen-xxl-min - 1px}) {
      @content;
    }
  }
}

@each $type, $val in $font-weights {
  .fw-#{$type} {
    //fw-bold
    font-weight: $val !important;
  }
}

@mixin roundDiv() {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
