// Brand Colors

$primary-color: #bf3547;
$primary-raisin-black: #262626;
$secondary-grey: #616161;
$secondary-grey2: #dfdfdf;
$radio-border: #9c9c9c;
$radio-unselected: #efefef;
$primary-white: #ffffff;
$button-disabled-text: #fdf0f0;
$primary-border-color: #dddfdf;
$title-border: #dddfdf;
$scroll-color: #3e41f3;
$avatar-color: #f5ede3;
$card-shadows: rgba(0, 0, 0, 0.06);
$pale-grey: #eaf7f3;
$light-teal: #ade2d2;
$greenish-teal: #31b78f;
$rosy-pink: #f26b73;
$primary-disabled: #a34955;

//Media query variables
$min: "min";
$max: "max";

// Media Query Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// HD screen
$screen-xxl-min: 1600px;

// Typography Sizes
$font-xxxs: 0.625rem; //10px;
$font-xxs: 0.6875rem; //11px;
$font-xs: 0.75rem; // 12px;
$font-sm: 0.875rem; // 14px;
$base-font: 1rem; // 16px;
$font-md: 1.125rem; // 18px;
$font-lg: 1.25rem; // 20px;
$font-xl: 1.5rem; // 24px;
$font-xxl: 1.875rem; // 30px;
$font-xxmdl: 2.25rem; // 36px;
$font-xxxl: 3rem; // 48px

$font-weights: (
  "light": 300,
  "normal": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
);

$text-align: (left, right, center);
$text-transforms: (uppercase, lowercase, capitalize, none);
$cursors: (none, pointer, default, text);
$text-decorations: (overline, line-through, underline);
