<ul *ngIf="treeData">
    <li *ngFor="let node of treeData" class="node-item">
        <span *ngIf="node.subcategories" (click)="toggleChild(node)">
            <i class="fas fa-chevron-down" *ngIf="!node.expanded"></i>
            <i class="fas fa-chevron-up" *ngIf="node.expanded"></i>
        </span>
        <span (click)="handleClick(node)" [ngClass]="{'node-active': node.active}">{{ node.name }} </span>
        <ul *ngIf="node.expanded && node.subcategories">
            <li *ngFor="let subnode of node.subcategories" class="node-item">
                <span (click)="handleClick(node, subnode)"
                    [ngClass]="{'node-active': subnode.active}">{{ subnode.name }} </span>
            </li>
        </ul>
    </li>
</ul>