@import "variables";
@import "mixins";

.cat_wrapper {
  padding: 40px;
}
.filter_wrapper {
  width: 20%;
}

.content_wrapper {
  width: 80%;
}

@include md($max) {
  .cat_wrapper {
    padding: 10px;
  }
}
